*~
*.orig
*.rej
*.[ao]
*.l[ao]
.deps
.deps-ver
.libs
TAGS
cscope.*
stamp-h1
*.log
stamp-h
stamp-h[0-9]*
*-stamp
Makefile
build-stamp
config.h
config.status
config.guess
config.sub
libtool
.gcc-warning
*.loT
autom4te.cache
